<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Xin chào bạn <%= @user.name %></h1>
<p>
  Mật khẩu mới của bạn là <%= @new_password %> .<br>
</p>

</body>
</html>